#noie{position:fixed;top:0;left:0;right:0;bottom:0;background:black;color:whitesmoke;font-weight:900;font-size:2em;z-index:99999999999999999999999999999;}


#containall header>h1>span{font-size:.2em;}
#priere+#containall section>iframe{display:block;width:100%;min-height:400px;max-height:1000px;height:auto;box-shadow:0 0 10px 1px inset;}
.titre-shine{-webkit-animation: titre-shine 3s linear infinite forwards;text-align:center;}








body>header:before,#containall:before,footer:before{box-shadow: 4px 0 10px 1px rgba(255, 89, 0, 0.3);border-left:solid;left:-1%;background: rgba(204,0,0,.3); /* Old browsers */
background: -moz-linear-gradient(left,  rgb(204,0,0) 0%, rgba(255,89,0,.3) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(204,0,0)), color-stop(100%,rgba(255,89,0,.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgb(204,0,0) 0%,rgba(255,89,0,.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgb(204,0,0) 0%,rgba(255,89,0,.3) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgb(204,0,0) 0%,rgba(255,89,0,.3) 100%); /* IE10+ */
background: linear-gradient(to right,  rgb(204,0,0) 0%,rgba(255,89,0,.3) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(204,0,0)', endColorstr='rgba(255,89,0,.3)',GradientType=1 ); /* IE6-9 */}
body>header:after,#containall:after,footer:after{box-shadow: -4px 0 10px 1px rgba(255, 89, 0, 0.3);border-right:solid;right:-1%;background: rgba(255,89,0,.3); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,89,0,.3) 0%, rgb(204,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(255,89,0)), color-stop(100%,rgba(204,0,0,.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,89,0,.3) 0%,rgb(204,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,89,0,.3) 0%,rgb(204,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,89,0,.3) 0%,rgb(204,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,89,0,.3) 0%,rgb(204,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255,89,0)', endColorstr='rgba(204,0,0,.3)',GradientType=1 ); /* IE6-9 */
}



body>header>menu>li>a:hover,.menu_hover{
color: transparent;
font-size: 1em;
font-family: 'book antiqua';
font-weight: 900;}
body>header>menu>li>a{
color: transparent;
font-size: 1em;
font-family: 'book antiqua';
font-weight: 900;}






#container>menu>li>a{height:50px;position:relative;text-align:center;padding:20px 5px 0 10px;border:solid goldenrod;color:black;font-weight:900;border-bottom:none;display:block;font-size:1.3em;text-decoration:none;border-top-right-radius: 20px;border-top-left-radius: 20PX;min-width:100px;max-width:200px;width:auto;
-webkit-transition:all .3s;
background: rgba(84,240,240,0.3); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(84,240,240,0.3) 0%, #2b3be5 46%, #207cca 62%, rgba(84,240,240,0.3) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(84,240,240,0.3)), color-stop(46%,#2b3be5), color-stop(62%,#207cca), color-stop(100%,rgba(84,240,240,0.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(84,240,240,0.3) 0%,#2b3be5 46%,#207cca 62%,rgba(84,240,240,0.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(84,240,240,0.3) 0%,#2b3be5 46%,#207cca 62%,rgba(84,240,240,0.3) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(84,240,240,0.3) 0%,#2b3be5 46%,#207cca 62%,rgba(84,240,240,0.3) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(84,240,240,0.3) 0%,#2b3be5 46%,#207cca 62%,rgba(84,240,240,0.3) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(84,240,240,0.3)', endColorstr='rgba(84,240,240,0.3)',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#container>menu>li>a:hover,#container>menu>li>a.ssmenu_hover{z-index:5;color:gold;line-height:1em;text-shadow:0 0 1px #000, -1px 2px 5px #000;width:150px;text-align:center;
background: #54f2ef; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #54f2ef 0%, rgba(45,60,130,0.3) 46%, rgba(45,80,130,0.3) 62%, #54f2ef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#54f2ef), color-stop(46%,rgba(45,60,130,0.3)), color-stop(62%,rgba(45,80,130,0.3)), color-stop(100%,#54f2ef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #54f2ef 0%,rgba(45,60,130,0.3) 46%,rgba(45,80,130,0.3) 62%,#54f2ef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #54f2ef 0%,rgba(45,60,130,0.3) 46%,rgba(45,80,130,0.3) 62%,#54f2ef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #54f2ef 0%,rgba(45,60,130,0.3) 46%,rgba(45,80,130,0.3) 62%,#54f2ef 100%); /* IE10+ */
background: linear-gradient(135deg,  #54f2ef 0%,rgba(45,60,130,0.3) 46%,rgba(45,80,130,0.3) 62%,#54f2ef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54f2ef', endColorstr='#54f2ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}





h4.lieuxactivite,h4.lieuxactivite~h4{background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,.1) 0%, rgba(255,89,0,.3) 4%, rgba(204,0,0,.8) 51%, rgba(255,89,0,.3) 95%, rgba(255,255,255,.1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,.1)), color-stop(4%, rgba(255,89,0,.3)), color-stop(51%, rgba(204,0,0,.8)), color-stop(95%, rgba(255,89,0,.3)), color-stop(100%, rgba(255,255,255,.1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,.1) 0%, rgba(255,89,0,.3) 4%, rgba(204,0,0,.8) 51%, rgba(255,89,0,.3) 95%, rgba(255,255,255,.1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,.1) 0%, rgba(255,89,0,.3) 4%, rgba(204,0,0,.8) 51%, rgba(255,89,0,.3) 95%, rgba(255,255,255,.1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,.1) 0%, rgba(255,89,0,.3) 4%, rgba(204,0,0,.8) 51%, rgba(255,89,0,.3) 95%, rgba(255,255,255,.1) 100%);
background: linear-gradient(to right, rgba(255,255,255,.1) 0%, rgba(255,89,0,.3) 4%, rgba(204,0,0,.8) 51%, rgba(255,89,0,.3) 95%, rgba(255,255,255,.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
border-bottom: solid goldenrod;color:gold;font-size:1.3em;margin:0 2.3em;text-align:center;}